<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
	<connectionStrings>
		<add name="UNODBEntities"
			 connectionString="metadata=res://*/UNO_DB_Model.csdl|res://*/UNO_DB_Model.ssdl|res://*/UNO_DB_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JQOMREJ;initial catalog=UNODB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mex">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mex" name="UNO_Server.LoginServices">
				<endpoint address="UNO_Server" binding="netTcpBinding" bindingConfiguration="" contract="UNO_Contracts.ILoginServices"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:123"/>
						<add baseAddress="net.tcp://localhost:124"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>